/***************************/
/*CSS VARIABLES*/
/***************************/
:root {
  --clr-primary-white: hsl(0, 0%, 100%);
  --clr--primary-Black: hsl(0, 0%, 0%);
  --clr-neutral-200: hsl(0, 0%, 55%);
  --clr-neutral-400: hsl(0, 0%, 41%);
  --ff-body: "Alata", sans-serif;
  --ff-heading: "Josefin Sans", sans-serif;
  --fs-p-200: 0.759rem; /* 15px/16px default*/
  --fw-js-300: 300;
  --fw-alata-400: 400;
}
/**********************************/
/*RESET RULES*/
/**********************************/
/*BOX SIZING RULE*/
/* REMOVE DEFAULT MARGIN, PADDING,FONT*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

/*REMOVE LIST STYLES ON UL,OL*/
ul,
ol {
  list-style: none;
}

/* MAKE IMG EASISER TO WORK WITH */
img,
svg,
picture,
video {
  display: block;
  max-width: 100%;
}

/* SET CORE ROOT DEFAULTS*/
html:focus-within {
  scroll-behavior: smooth;
}

/* SET CORE BODY DEFAULTS */
body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: var(--ff-body);
  font-weight: var(--fw-js-300);
}

/* TYPOGRAPHY */
h1,
h2 {
  font-family: var(--ff-heading);
  line-height: 1;
  text-transform: uppercase;
  font-weight: var(--fw-alata-400);
}
h1 {
  font-size: 1.9rem;
  color: var(--clr-primary-white);
  opacity: 0.9;
  border: 2px solid var(--clr-primary-white);
  padding: 1.2rem 4rem 1.2rem 1.2rem;
  max-width: min-content;
  margin-bottom: 5rem;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
p {
  font-size: var(--fs-p-200);
  color: var(--clr-neutral-400);
  line-height: 1.6;
}
figcaption {
  color: var(--clr-primary-white);
  opacity: 0.9;
}

/* container */
.container {
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
}
/* utility */
.flex-group-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/**************************/
/*SECTION HERO*/
/**************************/
.section-hero {
  background-color: var(
    --clr--primary-Black
  ); /* alternative if image doesn't load for any reason */
  background-image: url(images/mobile/image-hero.jpg);
  background-size: cover;
  padding-block: 2rem;
}

.header {
  /* position: fixed;
  z-index: 9999; */
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 1.2rem;
}
/* NAVIGATION */
.main-nav-list {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
}
.main-nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-primary-white);
  opacity: 0;
  font-size: 1.2rem;
  transition: opacity 150ms;
}
.main-nav-link::after {
  content: "";
  display: block;
  height: 3px;
  background-color: var(--clr-primary-white);
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 0.2s ease-in-out 250ms;
}
.main-nav-link:hover::after {
  transform: scale(1, 1);
}
.main-nav {
  width: 100%;
  /* background-color: var(--clr--primary-Black); */
  /*display: none;*/
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms;
}
.nav-toggle {
  display: none;
}

.nav-toggle-label span,
.nav-toggle-label span::after,
.nav-toggle-label span::before {
  display: block;
  height: 2px;
  width: 2rem;
  background: var(--clr-primary-white);
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::after,
.nav-toggle-label span::before {
  content: "";
  position: absolute;
}

.nav-toggle-label span::after {
  top: 7px;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle:checked ~ nav {
  /* display: block; */
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 300ms;
}

@media (min-width: 643px) {
  .section-hero {
    background-image: url(images/desktop/image-hero.jpg);
  }
  .container {
    padding: 0 4rem;
  }
  .nav-toggle-label {
    display: none;
  }
  .header {
    flex-wrap: nowrap;
  }
  .main-nav {
    /* max-width: fit-content;
    transform: scale(1, 1); */
    all: unset;
  }
  .main-nav-list {
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
  }
  .main-nav-link {
    font-size: 1rem;
    text-transform: capitalize;
    opacity: 1;
  }
  h1 {
    font-size: 2.5rem;
    margin-top: 8rem;
    padding-right: 5rem;
    margin-bottom: 3rem;
  }
}
/*=====================*/
/*section-about*/
/*=====================*/
.section-about {
  background-color: var(--clr-primary-white);
  padding-block: 5rem;
  text-align: center;
}
@media (min-width: 643px) {
  .section-about {
    text-align: left;
  }
  .flex-group-col {
    flex-direction: row;
    align-items: center;
    gap: 0;
    /* background-color: darkgoldenrod; */
  }
  .about-image-box {
    flex-basis: 30rem;
  }

  .about-text-box {
    flex-basis: 35rem;
    padding: 4rem 0 0 4rem;
    margin-left: -6rem;
    align-self: flex-end;
    background-color: var(--clr-primary-white);
  }

  h2 {
    font-size: 2.2rem;
  }
}
/*==================*/
/*product section*/
/*==================*/
.section-product {
  padding-block: 2rem;
  text-align: center;
}
.section-product h2 {
  margin-bottom: 2.5rem;
}
figure {
  position: relative;
  margin-bottom: 1.3rem;
}
figcaption {
  color: var(--clr-primary-white);
  text-transform: uppercase;
  max-width: 8rem;
  position: absolute;
  top: 2.8rem;
  left: 1rem;
  font-family: var(--ff-heading);
  font-size: 1.2rem;
  font-weight: var(--fw-alata-400);
  line-height: 1;
}
.btn {
  padding: 0.5rem 2rem;
  border: 2px solid var(--clr-neutral-400);
  color: var(--clr--primary-Black);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: var(--fs-p-200);
  background-color: var(--clr-primary-white);
}
.btn:hover {
  background-color: var(--clr--primary-Black);
  color: var(--clr-primary-white);
}
@media (min-width: 643px) {
  .pic-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
  figcaption {
    top: 15rem;
    font-size: 1.5rem;
  }
}
/* ===================== */
/* FOOTER */
/* ===================== */
.footer {
  background-color: var(--clr--primary-Black);
  padding-block: 2rem;
  text-align: center;
}
.footer-grid {
  display: grid;
  align-items: center;
  justify-content: center;
}
.footer-img {
  height: 1rem;
  margin: auto;
}
.footer-nav-list {
  margin-block: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-nav-link {
  text-decoration: none;
  color: var(--clr-primary-white);
  font-size: var(--fs-p-200);
}

.social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}
.copyright {
  /* font-weight: var(--fw-js-300); */
  font-weight: bold;
}

.footer-nav-link::after,
.img-social::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--clr-primary-white);
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 0.2s;
}
.footer-nav-link:hover::after,
.img-social:hover::after {
  transform: scale(1, 1);
}

@media (min-width: 784px) {
  .footer {
    text-align: left;
  }
  .footer-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .footer-img {
    margin: 0;
  }
  .footer-nav-list {
    flex-direction: row;
    margin: 0;
  }
  .social {
    margin: 0;
    grid-column: 2/3;
    grid-row: 1;
    gap: 0.5em;
    justify-content: flex-end;
  }
  .copyright {
    justify-self: end;
  }
}
